body{
    font-family: 'Roboto', sans-serif;
}
ul{
    float:right;
}
li{
    float:left;
    padding:10px;
    list-style-type: none;
    color: black;
    
    
}
#gmail,#images{
    text-decoration: none;
}
#gmail:hover,#images:hover{
    text-decoration: underline;
}
#signin{
    padding:6px;
    color: white;
    background-color: blue;
    border-radius: 3px;
    text-decoration: none;
}
#signin:hover{
    box-shadow: 1px 1px 5px #999;
}
h1{
    font-size: 100px;
    /* margin-left: 600px; */
    margin-top: 100px;
}
.blue{
    color: rgb(113, 113, 255);
}
.red{
    color: rgb(223, 46, 46);
}
.yellow{
    color: rgb(243, 198, 0);
}
.green{
    color: rgb(29, 165, 29);
}
#google{
    letter-spacing: -15px;

    font-size: 100px;
    /* margin-left: 600px; */
    margin-top: 100px;
    font-weight:lighter;

}
.bar{
    margin:0 auto;
    width:575px;
    border:1px solid #dcdcdc;
    border-radius: 30px;

}
.bar:hover{
    box-shadow:1px 1px 8px 1px #dcdcdc;
}
.search-bar{
    
    width:460px;
    height:45px;
    border:none;
    outline:none;
    /* font-size: 16px; */
    
}
.voice{
    height:20px;
    position: relative;
    top:5px;
    left:20px;
}
.search{
    height:20px;
    position: relative;
    top:6px; 
    right:490px;
}
.buttons{
    text-align: center;
    margin:60px;
}
.button{
   border: none; 
   padding: 15px;
   font-size: 16px;
   margin: 10px;
   border-radius: 3px;
   /* color: rgb(73, 73, 73); */
}
button:hover{
    box-shadow:1px 1px 2px 1px #7e7d7d;
}
